R_scripts/.Rhistory
param_files/.Rhistory
bash_scripts/.nextflow*
.DS_Store
*/.DS_Store
R_scripts/.Rhistory
plotting/.Rhistory
bash_scripts/trace*
pipeline_launch_scripts/undercover/.nextflow*
pipeline_launch_scripts/undercover/run_undercover_grna_pipeline.sh.o*
